<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="com.hrms.entity.Course">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_id" jdbcType="VARCHAR" property="course_id" />
    <result column="chapter" jdbcType="VARCHAR" property="chapter" />
    <result column="course_name" jdbcType="VARCHAR" property="course_name" />
    <result column="course_content" jdbcType="VARCHAR" property="course_content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, course_id, chapter, course_name, course_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hrms.entity.Course">
    insert into course (id, course_id, chapter, 
      course_name, course_content)
    values (#{id,jdbcType=INTEGER}, #{course_id,jdbcType=VARCHAR}, #{chapter,jdbcType=VARCHAR}, 
      #{course_name,jdbcType=VARCHAR}, #{course_content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hrms.entity.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="course_id != null">
        course_id,
      </if>
      <if test="chapter != null">
        chapter,
      </if>
      <if test="course_name != null">
        course_name,
      </if>
      <if test="course_content != null">
        course_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="course_id != null">
        #{course_id,jdbcType=VARCHAR},
      </if>
      <if test="chapter != null">
        #{chapter,jdbcType=VARCHAR},
      </if>
      <if test="course_name != null">
        #{course_name,jdbcType=VARCHAR},
      </if>
      <if test="course_content != null">
        #{course_content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrms.entity.Course">
    update course
    <set>
      <if test="course_id != null">
        course_id = #{course_id,jdbcType=VARCHAR},
      </if>
      <if test="chapter != null">
        chapter = #{chapter,jdbcType=VARCHAR},
      </if>
      <if test="course_name != null">
        course_name = #{course_name,jdbcType=VARCHAR},
      </if>
      <if test="course_content != null">
        course_content = #{course_content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrms.entity.Course">
    update course
    set course_id = #{course_id,jdbcType=VARCHAR},
      chapter = #{chapter,jdbcType=VARCHAR},
      course_name = #{course_name,jdbcType=VARCHAR},
      course_content = #{course_content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>