<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.mapper.RecruitmentMapper">
  <resultMap id="BaseResultMap" type="com.hrms.entity.Recruitment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="trial_pay" jdbcType="VARCHAR" property="trial_pay" />
    <result column="apply_day" jdbcType="DATE" property="apply_day" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="marital" jdbcType="VARCHAR" property="marital" />
    <result column="haveChildren" jdbcType="VARCHAR" property="haveChildren" />
    <result column="birthplace" jdbcType="VARCHAR" property="birthplace" />
    <result column="enrollday" jdbcType="VARCHAR" property="enrollday" />
    <result column="enrollplace" jdbcType="VARCHAR" property="enrollplace" />
    <result column="joinJobDay" jdbcType="DATE" property="joinJobDay" />
    <result column="nativePlace" jdbcType="VARCHAR" property="nativePlace" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="blood" jdbcType="VARCHAR" property="blood" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="graduation_time" jdbcType="VARCHAR" property="graduation_time" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
    <result column="idnumber" jdbcType="VARCHAR" property="idnumber" />
    <result column="householdtype" jdbcType="VARCHAR" property="householdtype" />
    <result column="current_address" jdbcType="VARCHAR" property="current_address" />
    <result column="current_postcode" jdbcType="VARCHAR" property="current_postcode" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="education_background" jdbcType="VARCHAR" property="education_background" />
    <result column="agree_assign" jdbcType="VARCHAR" property="agree_assign" />
    <result column="agree_learnoutside" jdbcType="VARCHAR" property="agree_learnoutside" />
    <result column="when_work" jdbcType="DATE" property="when_work" />
    <result column="written_scores" jdbcType="VARCHAR" property="written_scores" />
    <result column="information_integrity" jdbcType="VARCHAR" property="information_integrity" />
    <result column="meet_requirement" jdbcType="VARCHAR" property="meet_requirement" />
    <result column="first_result" jdbcType="VARCHAR" property="first_result" />
    <result column="second_result" jdbcType="VARCHAR" property="second_result" />
    <result column="background_check" jdbcType="VARCHAR" property="background_check" />
    <result column="official_salary" jdbcType="VARCHAR" property="official_salary" />
    <result column="join_day" jdbcType="DATE" property="join_day" />
    <result column="personnel_supervisor_opinion" jdbcType="VARCHAR" property="personnel_supervisor_opinion" />
    <result column="personnel_manager_opinion" jdbcType="VARCHAR" property="personnel_manager_opinion" />
    <result column="deputy_personnel_manager_opinion" jdbcType="VARCHAR" property="deputy_personnel_manager_opinion" />
    <result column="deputy_business_manager_opinion" jdbcType="VARCHAR" property="deputy_business_manager_opinion" />
    <result column="manager_opinion" jdbcType="VARCHAR" property="manager_opinion" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, sex, position, trial_pay, apply_day, nation, birthday, marital, haveChildren, 
    birthplace, enrollday, enrollplace, joinJobDay, nativePlace, height, blood, profession, 
    school, graduation_time, postcode, idnumber, householdtype, current_address, current_postcode, 
    telephone, email, education_background, agree_assign, agree_learnoutside, when_work, 
    written_scores, information_integrity, meet_requirement, first_result, second_result, 
    background_check, official_salary, join_day, personnel_supervisor_opinion, personnel_manager_opinion, 
    deputy_personnel_manager_opinion, deputy_business_manager_opinion, manager_opinion, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from recruitment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from recruitment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hrms.entity.Recruitment">
    insert into recruitment (id, name, sex, 
      position, trial_pay, apply_day, 
      nation, birthday, marital, 
      haveChildren, birthplace, enrollday, 
      enrollplace, joinJobDay, nativePlace, 
      height, blood, profession, 
      school, graduation_time, postcode, 
      idnumber, householdtype, current_address, 
      current_postcode, telephone, email, 
      education_background, agree_assign, agree_learnoutside, 
      when_work, written_scores, information_integrity, 
      meet_requirement, first_result, second_result, 
      background_check, official_salary, join_day, 
      personnel_supervisor_opinion, personnel_manager_opinion, 
      deputy_personnel_manager_opinion, deputy_business_manager_opinion, 
      manager_opinion, status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{trial_pay,jdbcType=VARCHAR}, #{apply_day,jdbcType=DATE}, 
      #{nation,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{marital,jdbcType=VARCHAR}, 
      #{haveChildren,jdbcType=VARCHAR}, #{birthplace,jdbcType=VARCHAR}, #{enrollday,jdbcType=VARCHAR}, 
      #{enrollplace,jdbcType=VARCHAR}, #{joinJobDay,jdbcType=DATE}, #{nativePlace,jdbcType=VARCHAR}, 
      #{height,jdbcType=VARCHAR}, #{blood,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, 
      #{school,jdbcType=VARCHAR}, #{graduation_time,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, 
      #{idnumber,jdbcType=VARCHAR}, #{householdtype,jdbcType=VARCHAR}, #{current_address,jdbcType=VARCHAR}, 
      #{current_postcode,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{education_background,jdbcType=VARCHAR}, #{agree_assign,jdbcType=VARCHAR}, #{agree_learnoutside,jdbcType=VARCHAR}, 
      #{when_work,jdbcType=DATE}, #{written_scores,jdbcType=VARCHAR}, #{information_integrity,jdbcType=VARCHAR}, 
      #{meet_requirement,jdbcType=VARCHAR}, #{first_result,jdbcType=VARCHAR}, #{second_result,jdbcType=VARCHAR}, 
      #{background_check,jdbcType=VARCHAR}, #{official_salary,jdbcType=VARCHAR}, #{join_day,jdbcType=DATE}, 
      #{personnel_supervisor_opinion,jdbcType=VARCHAR}, #{personnel_manager_opinion,jdbcType=VARCHAR}, 
      #{deputy_personnel_manager_opinion,jdbcType=VARCHAR}, #{deputy_business_manager_opinion,jdbcType=VARCHAR}, 
      #{manager_opinion,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hrms.entity.Recruitment">
    insert into recruitment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="trial_pay != null">
        trial_pay,
      </if>
      <if test="apply_day != null">
        apply_day,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="marital != null">
        marital,
      </if>
      <if test="haveChildren != null">
        haveChildren,
      </if>
      <if test="birthplace != null">
        birthplace,
      </if>
      <if test="enrollday != null">
        enrollday,
      </if>
      <if test="enrollplace != null">
        enrollplace,
      </if>
      <if test="joinJobDay != null">
        joinJobDay,
      </if>
      <if test="nativePlace != null">
        nativePlace,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="blood != null">
        blood,
      </if>
      <if test="profession != null">
        profession,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="graduation_time != null">
        graduation_time,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="idnumber != null">
        idnumber,
      </if>
      <if test="householdtype != null">
        householdtype,
      </if>
      <if test="current_address != null">
        current_address,
      </if>
      <if test="current_postcode != null">
        current_postcode,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="education_background != null">
        education_background,
      </if>
      <if test="agree_assign != null">
        agree_assign,
      </if>
      <if test="agree_learnoutside != null">
        agree_learnoutside,
      </if>
      <if test="when_work != null">
        when_work,
      </if>
      <if test="written_scores != null">
        written_scores,
      </if>
      <if test="information_integrity != null">
        information_integrity,
      </if>
      <if test="meet_requirement != null">
        meet_requirement,
      </if>
      <if test="first_result != null">
        first_result,
      </if>
      <if test="second_result != null">
        second_result,
      </if>
      <if test="background_check != null">
        background_check,
      </if>
      <if test="official_salary != null">
        official_salary,
      </if>
      <if test="join_day != null">
        join_day,
      </if>
      <if test="personnel_supervisor_opinion != null">
        personnel_supervisor_opinion,
      </if>
      <if test="personnel_manager_opinion != null">
        personnel_manager_opinion,
      </if>
      <if test="deputy_personnel_manager_opinion != null">
        deputy_personnel_manager_opinion,
      </if>
      <if test="deputy_business_manager_opinion != null">
        deputy_business_manager_opinion,
      </if>
      <if test="manager_opinion != null">
        manager_opinion,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="trial_pay != null">
        #{trial_pay,jdbcType=VARCHAR},
      </if>
      <if test="apply_day != null">
        #{apply_day,jdbcType=DATE},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="marital != null">
        #{marital,jdbcType=VARCHAR},
      </if>
      <if test="haveChildren != null">
        #{haveChildren,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null">
        #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="enrollday != null">
        #{enrollday,jdbcType=VARCHAR},
      </if>
      <if test="enrollplace != null">
        #{enrollplace,jdbcType=VARCHAR},
      </if>
      <if test="joinJobDay != null">
        #{joinJobDay,jdbcType=DATE},
      </if>
      <if test="nativePlace != null">
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="blood != null">
        #{blood,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="graduation_time != null">
        #{graduation_time,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null">
        #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="householdtype != null">
        #{householdtype,jdbcType=VARCHAR},
      </if>
      <if test="current_address != null">
        #{current_address,jdbcType=VARCHAR},
      </if>
      <if test="current_postcode != null">
        #{current_postcode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="education_background != null">
        #{education_background,jdbcType=VARCHAR},
      </if>
      <if test="agree_assign != null">
        #{agree_assign,jdbcType=VARCHAR},
      </if>
      <if test="agree_learnoutside != null">
        #{agree_learnoutside,jdbcType=VARCHAR},
      </if>
      <if test="when_work != null">
        #{when_work,jdbcType=DATE},
      </if>
      <if test="written_scores != null">
        #{written_scores,jdbcType=VARCHAR},
      </if>
      <if test="information_integrity != null">
        #{information_integrity,jdbcType=VARCHAR},
      </if>
      <if test="meet_requirement != null">
        #{meet_requirement,jdbcType=VARCHAR},
      </if>
      <if test="first_result != null">
        #{first_result,jdbcType=VARCHAR},
      </if>
      <if test="second_result != null">
        #{second_result,jdbcType=VARCHAR},
      </if>
      <if test="background_check != null">
        #{background_check,jdbcType=VARCHAR},
      </if>
      <if test="official_salary != null">
        #{official_salary,jdbcType=VARCHAR},
      </if>
      <if test="join_day != null">
        #{join_day,jdbcType=DATE},
      </if>
      <if test="personnel_supervisor_opinion != null">
        #{personnel_supervisor_opinion,jdbcType=VARCHAR},
      </if>
      <if test="personnel_manager_opinion != null">
        #{personnel_manager_opinion,jdbcType=VARCHAR},
      </if>
      <if test="deputy_personnel_manager_opinion != null">
        #{deputy_personnel_manager_opinion,jdbcType=VARCHAR},
      </if>
      <if test="deputy_business_manager_opinion != null">
        #{deputy_business_manager_opinion,jdbcType=VARCHAR},
      </if>
      <if test="manager_opinion != null">
        #{manager_opinion,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrms.entity.Recruitment">
    update recruitment
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="trial_pay != null">
        trial_pay = #{trial_pay,jdbcType=VARCHAR},
      </if>
      <if test="apply_day != null">
        apply_day = #{apply_day,jdbcType=DATE},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="marital != null">
        marital = #{marital,jdbcType=VARCHAR},
      </if>
      <if test="haveChildren != null">
        haveChildren = #{haveChildren,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null">
        birthplace = #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="enrollday != null">
        enrollday = #{enrollday,jdbcType=VARCHAR},
      </if>
      <if test="enrollplace != null">
        enrollplace = #{enrollplace,jdbcType=VARCHAR},
      </if>
      <if test="joinJobDay != null">
        joinJobDay = #{joinJobDay,jdbcType=DATE},
      </if>
      <if test="nativePlace != null">
        nativePlace = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="blood != null">
        blood = #{blood,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="graduation_time != null">
        graduation_time = #{graduation_time,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null">
        idnumber = #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="householdtype != null">
        householdtype = #{householdtype,jdbcType=VARCHAR},
      </if>
      <if test="current_address != null">
        current_address = #{current_address,jdbcType=VARCHAR},
      </if>
      <if test="current_postcode != null">
        current_postcode = #{current_postcode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="education_background != null">
        education_background = #{education_background,jdbcType=VARCHAR},
      </if>
      <if test="agree_assign != null">
        agree_assign = #{agree_assign,jdbcType=VARCHAR},
      </if>
      <if test="agree_learnoutside != null">
        agree_learnoutside = #{agree_learnoutside,jdbcType=VARCHAR},
      </if>
      <if test="when_work != null">
        when_work = #{when_work,jdbcType=DATE},
      </if>
      <if test="written_scores != null">
        written_scores = #{written_scores,jdbcType=VARCHAR},
      </if>
      <if test="information_integrity != null">
        information_integrity = #{information_integrity,jdbcType=VARCHAR},
      </if>
      <if test="meet_requirement != null">
        meet_requirement = #{meet_requirement,jdbcType=VARCHAR},
      </if>
      <if test="first_result != null">
        first_result = #{first_result,jdbcType=VARCHAR},
      </if>
      <if test="second_result != null">
        second_result = #{second_result,jdbcType=VARCHAR},
      </if>
      <if test="background_check != null">
        background_check = #{background_check,jdbcType=VARCHAR},
      </if>
      <if test="official_salary != null">
        official_salary = #{official_salary,jdbcType=VARCHAR},
      </if>
      <if test="join_day != null">
        join_day = #{join_day,jdbcType=DATE},
      </if>
      <if test="personnel_supervisor_opinion != null">
        personnel_supervisor_opinion = #{personnel_supervisor_opinion,jdbcType=VARCHAR},
      </if>
      <if test="personnel_manager_opinion != null">
        personnel_manager_opinion = #{personnel_manager_opinion,jdbcType=VARCHAR},
      </if>
      <if test="deputy_personnel_manager_opinion != null">
        deputy_personnel_manager_opinion = #{deputy_personnel_manager_opinion,jdbcType=VARCHAR},
      </if>
      <if test="deputy_business_manager_opinion != null">
        deputy_business_manager_opinion = #{deputy_business_manager_opinion,jdbcType=VARCHAR},
      </if>
      <if test="manager_opinion != null">
        manager_opinion = #{manager_opinion,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrms.entity.Recruitment">
    update recruitment
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      trial_pay = #{trial_pay,jdbcType=VARCHAR},
      apply_day = #{apply_day,jdbcType=DATE},
      nation = #{nation,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      marital = #{marital,jdbcType=VARCHAR},
      haveChildren = #{haveChildren,jdbcType=VARCHAR},
      birthplace = #{birthplace,jdbcType=VARCHAR},
      enrollday = #{enrollday,jdbcType=VARCHAR},
      enrollplace = #{enrollplace,jdbcType=VARCHAR},
      joinJobDay = #{joinJobDay,jdbcType=DATE},
      nativePlace = #{nativePlace,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      blood = #{blood,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      graduation_time = #{graduation_time,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      idnumber = #{idnumber,jdbcType=VARCHAR},
      householdtype = #{householdtype,jdbcType=VARCHAR},
      current_address = #{current_address,jdbcType=VARCHAR},
      current_postcode = #{current_postcode,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      education_background = #{education_background,jdbcType=VARCHAR},
      agree_assign = #{agree_assign,jdbcType=VARCHAR},
      agree_learnoutside = #{agree_learnoutside,jdbcType=VARCHAR},
      when_work = #{when_work,jdbcType=DATE},
      written_scores = #{written_scores,jdbcType=VARCHAR},
      information_integrity = #{information_integrity,jdbcType=VARCHAR},
      meet_requirement = #{meet_requirement,jdbcType=VARCHAR},
      first_result = #{first_result,jdbcType=VARCHAR},
      second_result = #{second_result,jdbcType=VARCHAR},
      background_check = #{background_check,jdbcType=VARCHAR},
      official_salary = #{official_salary,jdbcType=VARCHAR},
      join_day = #{join_day,jdbcType=DATE},
      personnel_supervisor_opinion = #{personnel_supervisor_opinion,jdbcType=VARCHAR},
      personnel_manager_opinion = #{personnel_manager_opinion,jdbcType=VARCHAR},
      deputy_personnel_manager_opinion = #{deputy_personnel_manager_opinion,jdbcType=VARCHAR},
      deputy_business_manager_opinion = #{deputy_business_manager_opinion,jdbcType=VARCHAR},
      manager_opinion = #{manager_opinion,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>