<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.mapper.SchoolMapper">
	<resultMap id="BaseResultMap" type="com.hrms.entity.School">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="employeeNum" jdbcType="VARCHAR"
			property="employeeNum" />
		<result column="start_time" jdbcType="DATE"
			property="start_time" />
		<result column="end_time" jdbcType="DATE" property="end_time" />
		<result column="school" jdbcType="VARCHAR" property="school" />
		<result column="major" jdbcType="VARCHAR" property="major" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="graduation" jdbcType="VARCHAR"
			property="graduation" />
		<result column="reason" jdbcType="VARCHAR" property="reason" />
	</resultMap>
	<sql id="Base_Column_List">
		id, employeeNum, start_time, end_time, school, major, type, graduation,
		reason
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from emp_school
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from emp_school
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertRetId" parameterType="com.hrms.entity.School">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into emp_school (id, employeeNum, start_time,
		end_time, school, major,
		type, graduation, reason
		)
		values (#{id,jdbcType=INTEGER}, #{employeeNum,jdbcType=VARCHAR},
		#{start_time,jdbcType=DATE},
		#{end_time,jdbcType=DATE}, #{school,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR}, #{graduation,jdbcType=VARCHAR},
		#{reason,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.hrms.entity.School">
		insert into emp_school
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="employeeNum != null">
				employeeNum,
			</if>
			<if test="start_time != null">
				start_time,
			</if>
			<if test="end_time != null">
				end_time,
			</if>
			<if test="school != null">
				school,
			</if>
			<if test="major != null">
				major,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="graduation != null">
				graduation,
			</if>
			<if test="reason != null">
				reason,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="employeeNum != null">
				#{employeeNum,jdbcType=VARCHAR},
			</if>
			<if test="start_time != null">
				#{start_time,jdbcType=DATE},
			</if>
			<if test="end_time != null">
				#{end_time,jdbcType=DATE},
			</if>
			<if test="school != null">
				#{school,jdbcType=VARCHAR},
			</if>
			<if test="major != null">
				#{major,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="graduation != null">
				#{graduation,jdbcType=VARCHAR},
			</if>
			<if test="reason != null">
				#{reason,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.hrms.entity.School">
		update emp_school
		<set>
			<if test="employeeNum != null">
				employeeNum = #{employeeNum,jdbcType=VARCHAR},
			</if>
			<if test="start_time != null">
				start_time = #{start_time,jdbcType=DATE},
			</if>
			<if test="end_time != null">
				end_time = #{end_time,jdbcType=DATE},
			</if>
			<if test="school != null">
				school = #{school,jdbcType=VARCHAR},
			</if>
			<if test="major != null">
				major = #{major,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="graduation != null">
				graduation = #{graduation,jdbcType=VARCHAR},
			</if>
			<if test="reason != null">
				reason = #{reason,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.hrms.entity.School">
		update emp_school
		set employeeNum = #{employeeNum,jdbcType=VARCHAR},
		start_time = #{start_time,jdbcType=DATE},
		end_time = #{end_time,jdbcType=DATE},
		school = #{school,jdbcType=VARCHAR},
		major = #{major,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		graduation = #{graduation,jdbcType=VARCHAR},
		reason = #{reason,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>