div.layui-fluid {
	background-color: white;
}

body {
	background-color: white;
}

.layui-form-select{
	width:190px;
}

#btn {
	text-align: center;
}

#decp{
	width: 957px;
}

.layui-btn {
    color: #FFF;
    background-color: #409EFF;
    border-color: #409EFF;
}

.x-admin-sm .layui-form-pane .layui-form-label {
    height: 41px;
    width: 179px;
    line-height: 24px;
    font-weight: lighter;
    font-size: 17px;
}

.x-admin-sm .layui-input, .x-admin-sm .layui-select, .x-admin-sm .layui-textarea {
    height: 41px;
    font-size: larger;
}	

.layui-btn-danger{
	 background: red;
}	

.x-admin-sm .layui-btn, .x-admin-sm .layui-btn-xs, .x-admin-sm .layui-btn-sm {
    font-size: 14px;
}

.x-admin-sm .layui-btn {
    height: 39px;
    width: 180px;
}

#familyadd{
	width: 75px;
}

#experienceadd{
	width: 75px;
}

#name{
	width:300px;
}

#employeeNum{
	width:300px;
}
